* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  width: 100%;
}

.no {
  padding: 0;
  margin: 0;
}

ul,
ol {
  padding: 0;
}

@media screen and (max-width: 985px) {
  #container {
    max-width: 98.8%;
    left: 0;
    margin: auto;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  background: rgba(69, 69, 69, 0.5);
  margin: 0;
  padding: 0;
}

.header img {
  width: 100%;
}

.header .navbar-nav button {
  color: #fff;
}

.header .navbar-nav .dropdown-menu {
  background: #2b323d;
}

.header .navbar-nav li {
  text-align: center;
  top: 0;
  padding: 2rem 1rem;
  font-size: 2rem;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.header .navbar-nav li a {
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  font-weight: 400;
}

.header .navbar-nav li a:hover {
  color: #e6e6e6;
}

.header .navbar-nav li:hover {
  border-bottom: 4px solid white;
}

.header .nav-link1 button {
  padding: 1rem;
  border-radius: 4rem;
  background: #9b0c23;
  color: #fff;
  outline: none;
  border: none;
}

.header .nav-link1 button:hover {
  background: #fff;
  color: #333;
}

.header .navbar-toggler-icon .fas {
  color: #fff;
}

.header .dropdown-menu {
  width: 900px;
}

.header .dropdown-menu ul {
  list-style-type: none;
  padding: 1rem;
}

.header .dropdown-menu ul li {
  font-size: 1.5rem;
  color: #fff;
  padding: 0.2rem;
}

.header .dropdown-menu ul li:hover {
  border: none;
}

.header #more {
  left: -500px;
  padding: 1rem;
}

@media screen and (max-width: 973) {
  #more {
    left: 0px;
    width: 100%;
  }
}

#menu {
  background: #333;
}

#menu p {
  color: red;
}

#menu .content {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  color: #fff;
  bottom: 0%;
  left: 12%;
}

#menu .content h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
}

#menu .content p {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  margin-top: 1rem;
  font-family: "PT Serif";
  line-height: 4rem;
  text-transform: capitalize;
  color: #fff;
}

#menu .content a button {
  background: #9b0c23;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 5rem;
  padding: 0.9rem;
  color: white;
  margin-top: 1rem;
  font-family: "PT Serif";
}

#menu .content a button:hover {
  color: #000;
  background: none;
  border: 0.2rem solid white;
}

#menu img {
  height: 110vh;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

#desp {
  margin: 5rem 0rem;
}

@media screen and (max-width: 1043px) {
  #desp .header {
    padding: 1rem 3rem;
  }
}

.heading {
  padding: 4rem 0rem 5rem;
}

.heading h1 {
  color: #343434;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  line-height: 1.5;
  font-size: 3.8rem;
}

.heading h1::after {
  content: "";
  position: absolute;
  height: 0.4rem;
  width: 6.5rem;
  background: #a11b1b;
  left: 50%;
  margin-top: 7rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.heading p {
  margin-top: 5rem;
  font-family: "PT Sans", sans-serif;
  color: #484848;
  text-align: center;
  font-size: 2rem;
}

.sticky {
  position: fixed;
  top: 0;
  padding: 0rem 17rem;
  left: 0;
  width: 100%;
  background: #213349;
}

.sticky button {
  font-size: 13px;
}

.sticky .navbar-nav li {
  padding: 0rem 0.8rem;
}

.sticky .navbar-nav li .hover1 {
  display: none;
}

#parallex {
  position: relative;
}

.hove {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80vh;
  background: rgba(0, 33, 71, 0.8);
}

.parallax,
.parallax2 {
  background-image: url("../pic/8.jpg");
  min-height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.posture,
.float {
  position: absolute;
  top: -10rem;
}

.posture .card,
.float .card {
  border: none;
  border-radius: 0rem;
}

.posture .card .shade,
.float .card .shade {
  position: relative;
}

.posture .card .shade div,
.float .card .shade div {
  position: absolute;
  top: 0rem;
  right: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 33, 71, 0)), to(rgba(0, 33, 71, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 33, 71, 0), rgba(0, 33, 71, 0.8));
  width: 100%;
  height: 24rem;
}

.posture .card img,
.float .card img {
  position: relative;
  height: 24rem;
  border-radius: 0rem;
}

.posture .card .card-body,
.float .card .card-body {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

.posture .card .card-text,
.float .card .card-text {
  text-align: center;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
}

.posture .card .card-text:hover,
.float .card .card-text:hover {
  color: #867b7b;
}

#news {
  margin: 0rem 0rem 2rem;
  position: absolute;
  bottom: -11rem;
}

#news .heading h1 {
  color: #fff;
}

#news .card {
  border: none;
  position: relative;
  margin: 0rem 1rem;
}

#news .card img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  position: relative;
  height: 20rem;
  border-radius: 0rem;
}

#news .card .card-body h1 {
  color: #9b0c23;
  font-size: 1.5rem;
  text-align: start;
}

#news .card .card-body h1:hover {
  color: black;
}

#news .card .card-body p {
  font-size: 1.8rem;
  line-height: 2.32rem;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#news .card .card-body p:hover {
  color: #9b0c23;
}

#news .slick-dots li button:before {
  font-size: 10px;
  color: #949393;
}

#news .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #949393;
}

.date {
  position: absolute;
  z-index: 99;
  padding: 0;
  top: 15rem;
  left: 0.8rem;
}

.date p {
  background: #9b0c23;
  color: white;
  padding: 0.5rem;
  font-size: 13px;
  line-height: 1.5;
}

#admit {
  padding: 22rem 0rem 8rem;
  background-color: #f3f0f0;
}

#admit .tabule {
  -webkit-box-shadow: 0rem 0rem 1rem #867b7b;
          box-shadow: 0rem 0rem 1rem #867b7b;
  font-family: "PT Sans";
}

#admit .tabule h1 {
  margin: 5rem 3rem 3rem;
  font-size: 3rem;
  color: #000;
}

#admit .tabule p {
  margin: 0rem 3rem 2rem;
  font-size: 18px;
  line-height: 26px;
  color: #3f3f3f;
}

#admit .tabule .link {
  color: red;
}

#admit .tabule .link:hover {
  color: #a39999;
}

#admit .tabule img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  #news {
    margin-top: 20rem;
    position: relative;
  }
  #news .heading h1 {
    color: #000;
  }
  #admit {
    padding: 10rem 0rem 3rem;
  }
}

.parallax2 {
  background-image: url("../pic/15.jpg");
  font-family: "PT Sans";
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.parallax2 .hove {
  background: rgba(77, 86, 102, 0.4);
}

.parallax2 .heading h1 {
  color: #fff;
  background: none;
}

.parallax2 .one-time {
  color: #fff;
}

.parallax2 .one-time p {
  margin: 2rem 0;
  font-size: 3rem;
  word-spacing: 0rem;
  line-height: 3.5rem;
}

.parallax2 .one-time h1 {
  margin-top: 5rem;
}

.parallax2 .one-time h5 {
  font-size: 2rem;
}

.parallax2 .one-time .slick-dots li.slick-active button::before {
  font-size: 15px;
  color: #fff;
}

.parallax2 .one-time .slick-dots li.slick-active button:before {
  opacity: 1;
}

.parallax2 .one-time .slick-dots li button:before {
  color: #fff;
  font-size: 15px;
}

#events {
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  min-height: 90vh;
}

#events .card {
  border: none;
  margin: 0;
  padding: 0;
}

#events .card img {
  width: 100%;
  height: 15rem;
  -o-object-position: center;
     object-position: center;
}

#events .card .word {
  position: absolute;
  width: 5rem;
  background: #002147;
  height: 15rem;
  color: #fff;
}

#events .card .word h5 {
  padding: 0.8rem;
  background: #9b0c23;
}

#events .card .word h1 {
  padding: 0.8rem;
}

#events .detail {
  padding: 1.5rem;
}

#events .detail h4 {
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  font-style: normal;
}

#events .detail h4:hover {
  color: #9b0c23;
}

#events .detail p {
  font-size: 1.5rem;
}

#events .detail p .far,
#events .detail p .fas {
  padding: 0rem 1rem 0rem 0rem;
}

#events .sub {
  position: relative;
  text-align: center;
  width: 100%;
}

#events .sub img {
  width: 100%;
  height: 40rem;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

#events .sub .texture {
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(153, 6, 6, 0.8);
  color: #fff;
  padding: 4rem 2rem 0rem;
  text-align: center;
  height: 40rem;
}

#events .sub .texture h1 {
  font-size: 3.2rem;
  text-align: start;
}

#events .sub .texture p {
  font-size: 1.7rem;
  text-align: start;
  padding: 1.5rem 0rem;
}

#events .sub button {
  background: #9b0c23;
  border: none;
  outline: none;
  font-size: 2rem;
  border-radius: 5rem;
  padding: 0.9rem;
  color: white;
  font-family: "PT Serif";
  bottom: 2rem;
  position: relative;
  margin-top: 4rem;
}

#events .sub button:hover {
  color: #fff;
  background: none;
  border: 0.2rem solid #f51818;
}

.no {
  padding: 0;
  margin: 0;
}

#course {
  background-color: #f3f0f0;
  min-height: 100vh;
  width: 100%;
  left: 0;
  padding: 8rem 0rem 10rem;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#course .heading1 h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  margin: 2rem 0rem;
}

#course [data-tab-content] {
  display: none;
}

#course .active[data-tab-content] {
  display: block;
}

#course .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#course .tabs li:hover {
  background: #ebe6e6;
}

@media screen and (max-width: 700px) {
  #course .tabs {
    display: block;
  }
}

#course .tab {
  cursor: pointer;
  padding: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
}

#course .tab.active {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #9b0c23;
  color: #fff;
}

#course .tab.active:hover {
  background-color: #9b0c23;
}

#course .tab-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#course #home .card {
  width: 100%;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  position: relative;
  border: 0;
  outline: none;
}

#course #home .card .card-img-top {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#course #home .card .card-body {
  background: #f3f0f0;
}

#course #home .card .card-body ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
}

#course #home .card .card-body ul li {
  font-size: 1.5rem;
}

#course #home .card .card-text {
  padding: 1rem 2rem 0rem;
}

#course #home .card .card-text h1 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}

#course #home .card .card-text h1:hover {
  color: #5f5959;
}

#course #home .card .card-text p {
  font-size: 16px;
  line-height: 25px;
  color: #9b0c23;
}

#course #home .card .card-text p:hover {
  color: #5f5959;
}

#course #home .card .card-text .free {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

#course #home .card .card-text .free p {
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 0px 10px;
  background: #9b0c23;
  border-radius: 6rem;
  color: #fff;
  font-weight: bold;
}

#course #home .card .rate {
  padding: 1rem 3rem;
}

#course #home .card .rate .fa {
  color: black;
}

#course #home .card .rate .checked {
  color: #9b0c23;
}

#course #home .card .rate .text {
  position: absolute;
  margin-left: auto;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  bottom: 1rem;
  right: 1rem;
  color: #454545;
}

#course #pricing .card {
  background-color: #f3f0f0;
  border: none;
}

#course #pricing .card .card-body h1 {
  padding: 0.5rem 0rem;
}

#course #pricing .card:hover .photo {
  opacity: 1;
}

#course #pricing .card-text {
  padding: 1rem 0rem;
}

#course #pricing .card-text h1 {
  font-size: 18px;
  line-height: 26px;
  text-transform: capitalize;
}

#course #pricing .card-text ul {
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

#course #pricing .card-text ul li {
  margin: 0;
}

#course #pricing .card-text .ligh {
  color: #969696;
  font-size: 12px;
}

#course #pricing .card-text .progress {
  width: 100%;
  background: #fff;
  height: 3px;
  margin-bottom: 4px;
}

#course #pricing .card-text .html,
#course #pricing .card-text .css,
#course #pricing .card-text .jquery,
#course #pricing .card-text .php {
  width: 0;
  background: #9b0c23;
  color: #fff;
  height: 3px;
}

#course .photo {
  background: rgba(68, 67, 67, 0.7);
  height: 180px;
  width: 100%;
  position: absolute;
  z-index: 99;
  opacity: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

#course .photo .fas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  width: 100%;
  color: #fff;
}

#course img {
  position: relative;
  display: block;
  height: 180px;
}

#course #new .card {
  background-color: #f3f0f0;
  border: none;
}

#course #new .card img {
  height: 145px;
}

#course #new .card .date {
  top: 10rem;
}

#course #new .card .date p {
  font-size: 13px;
  line-height: 1.5;
  color: white;
}

#course #new .card .date p:hover {
  color: #fff;
}

#course #new .card h1 {
  padding: 0.5rem 0rem;
  font-size: 18px;
  color: #9b0c23;
  font-weight: 400;
}

#course #new .card h1:hover {
  color: #333;
}

#course #new .card p {
  text-transform: capitalize;
  color: #333;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
}

#course #new .card p:hover {
  color: #9b0c23;
}

#course #new .card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0rem;
  list-style-type: none;
}

#course #new .card ul .co {
  color: #9b0c23;
}

#course #new .card ul li {
  font-size: 1.4rem;
}

#course #new .card ul li:hover {
  color: #9b0c23;
}

#course #about .card {
  margin-right: 0.5rem;
  background-color: #f3f0f0;
  border: none;
}

#course #about .card .photo {
  top: 0;
  height: 270px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(12, 40, 73, 0.56);
}

#course #about .card:hover .photo {
  opacity: 1;
}

#course #about .card img {
  height: 270px;
}

#course #about .card h1 {
  padding: 1rem 0rem 0.2rem 0.1rem;
  color: #000;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
}

#course #about .card p {
  color: #969696;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
}

#course #about .card ul {
  padding-left: 1rem 0;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#course #about .card ul #fb {
  color: #fbfdff;
}

#course #about .card ul #fb:hover {
  color: #3b5998;
}

#course #about .card ul #twi {
  color: #fbfdff;
}

#course #about .card ul #twi:hover {
  color: #1da1f2;
}

#course #about .card ul #goo {
  color: #fbfdff;
}

#course #about .card ul #goo:hover {
  color: #db4437;
}

.float {
  position: relative;
  background-color: #f3f0f0;
  top: 0;
}

.float .card {
  z-index: 99;
}

.float .card-body {
  top: 50%;
}

.shade div {
  background: rgba(69, 67, 62, 0.3);
}

#admid {
  height: 20rem;
  position: relative;
}

#admid .apply {
  position: absolute;
  background: #9b0c23;
  height: 30rem;
  width: 100%;
  top: -10rem;
}

#admid .apply .text {
  margin-top: 20rem;
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}

#admid .apply .text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#admid .apply .text ul li {
  list-style: none;
  font-size: 28px;
  line-height: 36px;
  color: #ffffff;
}

#admid .apply .text ul li button {
  margin: 0;
  font-size: 20px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 5rem;
  padding: 0.5rem 3rem;
  color: #9b0c23;
}

#admid .apply .text ul li button:hover {
  border: 1px solid white;
  background: #9b0c23;
  color: #fff;
}

@media screen and (max-width: 760px) {
  #course img {
    height: 210px;
  }
}

#conclu {
  background: #002147;
  color: wheat;
  padding-top: 8rem;
}

#conclu h1 {
  font-family: "PT Serif", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 26px;
  margin-bottom: 35px;
}

#conclu .contactss li {
  padding-bottom: 30px;
}

#conclu ul {
  padding-bottom: 3rem;
}

#conclu ul li {
  list-style: none;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: #6885a6;
}

#conclu ul li i {
  padding-right: 8px;
}

#conclu ul li:hover {
  color: #ffff;
}

.elogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: center;
  background: #213349;
}

.elogo img {
  margin: 2rem;
}
/*# sourceMappingURL=style.css.map */