*{
    margin: 0;
    padding: 0;
}
body{
    width:100%;
    background-color: rgb(245, 245, 184,0.8);  
    margin:auto;
    font-family: "Lucida Console", Courier, monospace;
    box-sizing: border-box;
}
.archi{
    position: relative;
}
.row1{
    position: fixed;
    width: 100%;
    height:50px;
    word-spacing:05px;
    background-color: rgb(245, 245, 184);
    box-shadow: 0px 0px 5px 1px rgb(128, 128, 107);
    font-size: 18px;
    z-index: 99;
}
.col1a{
    width:50%;
    float: left;
    list-style: none;
    position: relative;
}  
.col1a li{
    margin-top: 4px;
    margin-left: 4px;
    padding: 10px;
    width:150px;
}
.col1a li:hover{
    background-color:rgb(189, 189, 143,0.8) ;

}
.col1b{
    width: 49%;
    float: right;
}
.col1b ul{
    margin-top: 4px;
    margin-right: 4px;
    float: right;
    list-style: none;
}    
.col1b ul a{
    text-decoration: none;
    color:black;
}
.col1b li{
    padding: 10px;
    float: left;
}
.col1b li:hover{
    background-color:rgb(189, 189, 143) ;
}
.row2 img{
    width: 99%;
    margin-left: 8px;
}    

.row2 .over{
    position: absolute;
    top:400px;
    left: 38%;
}
.over p{
    padding: 20px;
    color: white;
    font-size: 30px;
}
#row3{
    margin: 50px 0px 0px 20px;
    word-spacing: normal;
    height:580px;
}
#row3 p{
   padding:10px;
   font-size: 25px;
   border-bottom:1px dotted rgb(185, 204, 235);
}
#row3 .imgsec{
    margin-top: 40px;
}
.imgsec li{
    width: 24.5%;
    float: left;
    list-style: none;
    margin-right:7px;
    margin-bottom: 7px;
}
.imgsec li :last-child{
    margin-right:0px;    
}
.imgsec img{
    width: 100%;
}
#row3 .imgsec p{
    position: absolute;
    border-bottom: none;
    background-color: black;
    color: white;
    font-size:15px;
    margin-top:0px;
    margin-left: 0px;
}
#row4, #row5{
    margin: 30px 0px 0px 20px;
}
#row4 h5{
    padding:10px;
    font-size: 26px;
    border-bottom:1px dotted rgb(185, 204, 235);
    font-weight: lighter;
}
#row4 p{
    margin-top: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}
.table{
    margin-top: 20px;
    height: 440px;
}
.table .tab1{
    width:24.2%;
    float: left;
    margin-right: 15px;
}
.tab1 img{
    width: 100%;
}
.tab1 .desc{
    margin-top:5px;
}
.desc h4{
    padding:5px 0px 8px;
    font-size: 22px;
    border:none;
    font-weight: lighter;
}
.fou p{
    margin-top: 8px;
    background-color: grey;
    width:140px;
    color: white;
}
.desc p{
    text-align: justify;
}
.contact{
    text-align: center;
    padding:11px;
    background-color: rgb(188, 196, 209);
}
.contact:hover{
    background-color: rgb(180, 190, 207);
}
.table .tab4{
    width:24.2%;
    float: right;
}
.tab4 img{
    width: 100%;
}
.tab4 .desc{
    margin-top:5px;
}
#row5 h5{
    padding:10px;
    font-size: 26px;
    border-bottom:1px dotted rgb(185, 204, 235);
    font-weight: lighter;
}
#row5 p{
    margin-top: 15px;
    font-family: Tahoma, Geneva, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
}
#row5 .form{
    margin-top: 20px;
}
.form input[type=text]{
  width: 98.5%;
  padding: 8px;
  font-size: 18px;
  margin-bottom: 6px;
  border-radius: 10px;
  border:1px solid grey;
  outline: none;
}
.form input[type=email]{
    width: 98.5%;
    padding: 8px;
    font-size: 18px; 
    margin-bottom: 6px;  
    border-radius: 10px; 
    border:1px solid grey;
    outline: none;

}
.form input[type=button]{
    margin-top: 10px;
    width:120px;
    height:40px;
    text-transform: uppercase;
    background-color: cornflowerblue;
    color: cornsilk;
    border: none;
    border-radius: 25px;
    outline: none;
}
.form input[type=button]:hover{
    background-color:rgb(189, 189, 143);
    color: cornflowerblue;
    border: none;
}